* {
    display: center;
    position: center;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url(../img/logo.png);
    position: center;
}

h1 {
    color: red;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

img {
    width: 400px;
}

#thirdDiv {
    position: relative, center;
    width: 600px;
    height: 40%;
    background-color: cyan;
    padding: 50px;
    border-color: oldlace;
}

#spanId {
    position: absolute;
    text-align: center;
    font-size: 18px;
    margin: 50px;
}

a {
    text-decoration: none;
    color: red;
}

h1,
h3,
h4 {
    text-align: center;
}