h1 {
    color: red;
}

img {
    width: 400px;
}

#thirdDiv {
    width: 600px;
    height: 40%;
    background-color: cyan;
    padding: 50px;
    border-color: oldlace;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}